*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

.boxed{margin: 0 auto;}

header{
    background-color: rgb(150, 255, 255);
    padding-bottom:2px;
}

#blocco_0{
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#nav{
    display: flex;
    width: 1000px;
    height: 30px;
    background-color: orange;
    font-size: 12px;
}

.dashed{
    border: 1px dashed black;
}

#nav div{
    display: flex;
    align-items: center;
    padding: 0 5px;
}
#logo{
    width: 20%;
    justify-content: flex-start;
}
#menu{
    width:60%;
    justify-content: center;
}
#login{
    width:20%;
    justify-content: flex-end;
}
#menu a{
    margin:0 5px;
}

#blocco_1{
    background-color: blue;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:400px;
}

#main_content{
    background-color: rgb(238, 116, 216);
    min-height: 300px;
    width: 800px;
}

#blocco_2, #blocco_4{
    background-color: white;
}
#blocco_3, #blocco_5{
    background-color: rgb(192, 192, 192);
   
}
.flexbox{
    min-height: 450px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-height: 400px;
    width:1000px;
    display: flex;
}

.azzurro{
    background-color: rgb(0, 195, 255);
    min-height: 400px;
    width:67%;
}
.pink{
    background-color: pink;
    min-height: 400px;
    width:33%;
}
.green{
    background-color: green;
    min-height: 700px;
    width:100%;
}

#blocco_5{
    min-height:750px;
}